@import "_common.scss";
@import "_index.scss";
@import "_baout.scss";
@import "_contact.scss";

@font-face {
    font-family: "roboto";
    src: url(../assets/Roboto-BlackItalic.ttf);
}




.alpha {
    color: green;
    font-size: 100px;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
}















@media screen and (max-width: 800px){
    .primerTexto{
        flex-direction: column;
    }
    .lista-down{
        flex-direction: column;
    }
    .posSmart{
        flex-direction: column;
    }
    
}

