@font-face {
    font-family: "roboto";
    src: url(../assets/Roboto-BlackItalic.ttf);
}
header{
    background-image: url(../assets/SIyK.gif);
}

body{
    font-family: "roboto";
    background-color: rgb(172, 245, 221);
}
.alpha{
    color: green;
    font-size: 50px;
    font-weight: bold;
    padding-left: 730px;
    position: relative;
    margin-top: -60px;
     ;
}
#main{
    padding-left: 500px;
    position: relative;
    margin-top: -35px;
}

#home-button{
    background-color: rgb(105, 179, 9);
    padding: 10px 18px;
    border-radius: 5%;
    font-size: x-large;
    font-weight: bold;
    float: left;
    width: 200px;

}

#home-button:hover{
    background-color: rgb(200, 245, 157);
    box-shadow: 0 12px  16px 0 rgb(0, 0, 0.24), 0 17px 20px 0;
}
#home-button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

#about-button{
    background-color: rgb(105, 179, 9);
    padding: 10px 18px;
    border-radius: 5%;
    font-size: x-large;
    font-weight: bold;
    float: left;
    width: 200px;

}
#about-button:hover{
    background-color: rgb(200, 245, 157);
    box-shadow: 0 12px  16px 0 rgb(0, 0, 0.24), 0 17px 20px 0;
}
#about-button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#contact-button{
    background-color: rgb(105, 179, 9);
    padding: 10px 18px;
    border-radius: 5%;
    font-size: x-large;
    font-weight: bold;
    float: left;
    width: 200px;

}
#contact-button:hover{
    background-color: rgb(200, 245, 157);
    box-shadow: 0 12px  16px 0 rgb(0, 0, 0.24), 0 17px 20px 0;
}
#contact-button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#titulo-nuestro{
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
    margin-left: 700px;
    position: absolute;
    text-decoration: wavy;
    
}
#presentacion{
    font-size: 30px;
    font-weight: bold;
    padding-top: 140px;
    padding-left: 700px;
    position: absolute;
    margin-right: 100px;
    text-align: justify;
}
#edificios-intel{
    padding-top: 100px;
    padding-left: 60px;
}

.novedades{
    position: absolute;
    margin-left: 780px;
    padding-top: 10px;
}
.novedades-text{
    margin-left: 780px;
    padding-top: 100px;
    position: absolute;
    margin-right: 520px;
    text-align: justify;
}

#basura{
    margin-left: 1260px;
    position: absolute;
    margin-top: -30px;
}
#video-loko{
    padding-left: 55px;
    position: relative;
    margin-top: -20px;

}






.formulario-cliente{
    display: inline-block;
}
#gente-feliz{
    padding-right: 80px;
    padding-top: 40px;
    padding-left: 40px;
    
}
.nuestra-historia{
    position: absolute;
    padding-left: 800px;
    padding-top: 100px;
    padding-right: 40px;
    text-align: justify;
}
.sobre-nosotros{
    padding-left: 790px;
    position: absolute;
    padding-top: 40px;
    
}
#grafico-proyectos{
    position: absolute;
    margin-left: 850px;
    padding-top: 0px;
}
.proyectos{
    position: absolute;
    padding-left: 180px;
    padding-top: 50px;
    font-size: x-large;
}
.lista-down{
    position: absolute;
    padding-left: 200px;
    padding-top: 150px;
}
.formulario-cliente{
    position: absolute;
    padding-top: 80px;
    margin-left: 300px;
    
}
.mapa{
    padding-left: 900px;
    margin-top: 0px;
    position: absolute;
}